.stack {
  position: relative;
  margin-top: 64px;
  height: 25vw;
  min-height: 200px;
}

.stack > div {
  position: absolute;
  top: 0;
}

.banner .container-fluid,
.banner .container-fluid .row {
  height: 25vw;
  min-height: 200px;
}

.banner .col {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .logo {
  display: flex;
  justify-content: center;
}

.banner .logo img {
  width: 15vw;
  min-width: 100px;
}
